In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/E Commerce Dataset.xlsx', sheet_name='E Comm')

In [3]:
df = df.drop(columns=['CustomerID'])

In [4]:
df

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [5]:
df['Churn'].value_counts()

Churn
0    4682
1     948
Name: count, dtype: int64

In [6]:
df.isna().sum()

Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [9]:
print('The most frequent values of Tenure column:', df['Tenure'].mode()[0])
print('The most frequent values of WarehouseToHome column:', df['WarehouseToHome'].mode()[0])
print('The most frequent values of HourSpendOnApp column:', df['HourSpendOnApp'].mode()[0])
print('The most frequent values of OrderAmountHikeFromlastYear column:', df['OrderAmountHikeFromlastYear'].mode()[0])
print('The most frequent values of CouponUsed column:', df['CouponUsed'].mode()[0])
print('The most frequent values of OrderCount column:', df['OrderCount'].mode()[0])
print('The most frequent values of DaySinceLastOrder column:', df['DaySinceLastOrder'].mode()[0])

df['Tenure'] = df['Tenure'].fillna(df['Tenure'].mode()[0])
df['WarehouseToHome'] = df['WarehouseToHome'].fillna(df['WarehouseToHome'].mode()[0])
df['HourSpendOnApp'] = df['HourSpendOnApp'].fillna(df['HourSpendOnApp'].mode()[0])
df['OrderAmountHikeFromlastYear'] = df['OrderAmountHikeFromlastYear'].fillna(df['OrderAmountHikeFromlastYear'].mode()[0])
df['CouponUsed'] = df['CouponUsed'].fillna(df['CouponUsed'].mode()[0])
df['OrderCount'] = df['OrderCount'].fillna(df['OrderCount'].mode()[0])
df['DaySinceLastOrder'] = df['DaySinceLastOrder'].fillna(df['DaySinceLastOrder'].mode()[0])

The most frequent values of Tenure column: 1.0
The most frequent values of WarehouseToHome column: 9.0
The most frequent values of HourSpendOnApp column: 3.0
The most frequent values of OrderAmountHikeFromlastYear column: 14.0
The most frequent values of CouponUsed column: 1.0
The most frequent values of OrderCount column: 2.0
The most frequent values of DaySinceLastOrder column: 3.0

In [10]:
df.isna().sum()

Churn                          0
Tenure                         0
PreferredLoginDevice           0
CityTier                       0
WarehouseToHome                0
PreferredPaymentMode           0
Gender                         0
HourSpendOnApp                 0
NumberOfDeviceRegistered       0
PreferedOrderCat               0
SatisfactionScore              0
MaritalStatus                  0
NumberOfAddress                0
Complain                       0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
CashbackAmount                 0
dtype: int64

In [11]:
df.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,1,1.0,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,1,1.0,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,1,0.0,Phone,1,12.0,CC,Male,3.0,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

In [12]:
col_to_encode = []
for i in df.columns:
    if df[i].dtype == 'object':
        col_to_encode.append(i)

In [13]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [14]:
encoder = OneHotEncoder(sparse=False, drop='first')

In [15]:
encoded_data = encoder.fit_transform(df[col_to_encode])

/Users/mohamedaminemrabet/miniforge3/envs/deep/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [16]:
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(col_to_encode))

In [17]:
df_encoded = pd.concat([df.drop(columns=col_to_encode), encoded_df], axis=1)

In [18]:
df_encoded.head()

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,...,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,Gender_Male,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Married,MaritalStatus_Single
0,1,4.0,3,6.0,3.0,3,2,9,1,11.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1,1.0,1,8.0,3.0,4,3,7,1,15.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,1.0,1,30.0,2.0,4,3,6,1,14.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1,0.0,3,15.0,2.0,4,5,8,0,23.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,0.0,1,12.0,3.0,3,5,3,0,11.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [19]:
X = df_encoded.drop(columns=['Churn'])
y = df_encoded['Churn']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=.2, random_state=42)

In [21]:
scaler = StandardScaler()

In [22]:
X_train = scaler.fit_transform(X_train)

# X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
import numpy as np
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from joblib import load, dump

In [25]:
models = {
    'Logistic Regression': LogisticRegression(),
    'SVM': SVC(probability=True),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'KNN': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'XGBoost': XGBClassifier()
}

In [27]:
results = []

# Train each model, make predictions, and evaluate performance
for model_name, model in models.items():
    model.fit(X_train, y_train)

    dump(model, '../models/'+model_name+'.joblib')

    y_pred = model.predict(X_test)
    y_pred_proba = model.predict_proba(X_test)[:, 1] if hasattr(model, "predict_proba") else np.zeros(len(y_test))
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    roc_auc = roc_auc_score(y_test, y_pred_proba)
    
    # Append results
    results.append({
        'Model': model_name,
        'Accuracy': accuracy,
        'F1 Score': f1,
        'ROC AUC': roc_auc
    })

In [28]:
results_df = pd.DataFrame(results)
results_df = results_df.sort_values(by='ROC AUC', ascending=False).reset_index(drop=True)
results_df[['Accuracy', 'F1 Score', 'ROC AUC']] = results_df[['Accuracy', 'F1 Score', 'ROC AUC']].round(2)

In [29]:
results_df

                 Model  Accuracy  F1 Score  ROC AUC
0        Random Forest      0.98      0.93     0.99
1              XGBoost      0.98      0.93     0.98
2                  SVM      0.93      0.74     0.94
3    Gradient Boosting      0.93      0.78     0.94
4        Decision Tree      0.97      0.90     0.94
5                  KNN      0.90      0.63     0.93
6  Logistic Regression      0.91      0.66     0.90
7          Naive Bayes      0.75      0.49     0.79